[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-swagger-ui = "*"
filetype = "*"
pillow = "*"
numpy = "*"
grpcio = "*"
tensorflow = "*"
tensorflow-serving-api = "*"

[dev-packages]

[requires]
python_version = "3.9"
